<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  -->
  <link rel="stylesheet" href="bootstrap_darkly.css" />


</head>

<body>
  <h1>COMPUTER SCIENCE <span class="text-success"> PUZZLE</span></h1>

  <div class="row">
    <div class="col-lg-6 lead">
      <div class="alert alert-dismissible alert-success">
        If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.
      </div>
    </div>
    <div class=" col-lg-6 ">

      <div class="col-lg-12 ">
        <div class="well bs-component ">

          <form class="form-horizontal ">

            <fieldset>
              <legend>Submission</legend>
              <div class="form-group ">
                <label for="text " class="col-lg-2 control-label ">Answer</label>
                <div class="col-lg-10 ">
                  <input type="text " class="form-control " id="text "></textarea>
                  <span class="help-block ">Submit your answer above, make sure you double check before submitting.</span>
                </div>
              </div>


              <div class="form-group ">
                <div class="col-lg-10 col-lg-offset-2 ">
                  <button type="reset " class="btn btn-default ">Cancel</button>
                  <button type="submit " class="btn btn-primary ">Submit</button>
                </div>
              </div>
            </fieldset>

            <div class="form-group ">
              <label for="textArea " class="col-lg-2 control-label ">Solution</label>
              <div class="col-lg-10 ">
                <textarea class="form-control " rows="3 " id="textArea "></textarea>
                <span class="help-block ">You might be required to explain your solution or submit some code, if so enter above.</span>
              </div>
            </div>

          </form>

          <div id="source-button " class="btn btn-primary btn-xs " style="display: none; ">&lt; &gt;</div>
        </div>
      </div>

    </div>

  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js " integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4 " crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js " integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1 " crossorigin="anonymous "></script>
</body>

</html>
